<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% t site.name %}{% if page.title %} — {{ page.title }}{% endif %}</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- CSS -->
  <link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="{{ site.baseurl_root }}/assets/css/screen.css">

  {% if page.print_stylesheet %}
    <link rel="stylesheet" media="print" href="{{ site.baseurl_root }}/assets/css/print.css">
  {% endif %}

  <!-- Icon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl_root }}/assets/images/favicon.png">
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/f762d0327c.js"></script>

</head>
