<div class="post-header">
	{% if include.post_page %}
		<div class="take-me">
			<a class="button" href="#recipe">{% t recipe.header.takeme %}</a>
		</div>
	{% endif %}
	<h1>
		<a href="{{ include.post.url }}">
			{{ include.post.title }}
		</a>
	</h1>
	<time datetime="{{ include.post.date }}">
		<!-- {{ include.post.date | date: "%B %-d, %Y" }} -->
		{{ include.post.date | localize: ":custom", site.lang }}
	</time>
	{% if include.post_page and include.post.source %}
		<p class="source">
			{% t recipe.header.source %} <a href="{{ include.post.source.link }}">
				{{ include.post.source.name }}
			</a>
		</p>
	{% endif %}
</div>
