<article class="post">
  {% include post-heading.html post=include.post %}
  <div class="row">
    <div class="col-12 col-sm-6">

      <div class="image">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid">
        </a>
      </div>

    </div>
    <div class="col-12 col-sm-6">

      {{ include.post.excerpt }}

      <a class="button take-me align-bottom" href="{{ site.baseurl }}{{ post.url }}">{% t recipe.header.readmore %}</a>
    </div>
  </div>
</article>
