<div id="recipe" class="recipe-container">

  <div class="row recipe-overview">
    {% if page.recipe.servings %}
      <div class="col-sm text-center">
        {% include recipe-icon.html icon="quantity" %}
        <span>{{ page.recipe.servings }}</span>
      </div>
    {% endif %}
    {% if page.recipe.prep %}
      <div class="col-sm text-center">
        {% include recipe-icon.html icon="time" %}
        <span>{{ page.recipe.prep }}</span>
      </div>
    {% endif %}
    {% if page.recipe.cook %}
      <div class="col-sm text-center">
        {% include recipe-icon.html icon="cook" %}
        <span>{{ page.recipe.cook }}</span>
      </div>
    {% endif %}
    {% if page.recipe.rest %}
      <div class="col-sm text-center">
        {% include recipe-icon.html icon="rest" %}
        <span>{{ page.recipe.rest }}</span>
      </div>
    {% endif %}
  </div>

  <div class="recipe-contents">
    <div class="row">
      <div class="col-12 col-sm-4">

        <h2>{% t recipe.ingredients %}</h2>

        {% if include.recipe.ingredients[0].first %}
          {% for part in page.recipe.ingredients %}
            <h4>{{ part.title }}</h4>
            {% include ingredients.html ingredients=part.ingredients %}
          {% endfor %}
        {% else %}
          {% include ingredients.html ingredients=include.recipe.ingredients %}
        {% endif %}

      </div>

      <div class="col-12 col-sm-8">
        <h2>{% t recipe.directions %}</h2>

        {% if include.recipe.directions[0].first %}
        {% for part in include.recipe.directions %}
        <h4>{{ part.title }}</h4>
        {% include directions.html directions=part.directions %}
        {% endfor %}
        {% else %}
        {% include directions.html directions=include.recipe.directions %}
        {% endif %}

      </div>
    </div>

  </div>

</div>
